body{
  font-family:Trebuchet MS;
  background: url("../images/background.jpg") no-repeat center fixed;
  background-size:cover;
}

#login_page{
  background: url("../images/food.jpg") no-repeat center fixed;
  background-size:cover;
  margin: 0 auto 0 auto;
  width:100%;
  text-align:center;
  margin: 20px 0px 20px 0px;
}
p{
  font-size:12px;
  text-decoration: none;
  color:#ffffff;
}

h1{
  font-size:1.2em;
  color:#525252;
}

.login{
  width:300px;
  border-radius:6px;
  margin: 0 auto 0 auto;
  padding:0px 0px 70px 0px;
}

.uname{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
}

.password{
  border-radius:4px;
  background:#ecf0f1;
  border: #ccc 1px solid;
  padding: 8px;
  width:250px;
  font-size:1em;
}

.btn{
  background:#2ecc71;
  width:125px;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #27ae60 1px solid;

  margin-top:20px;
  margin-bottom:20px;
  float:left;
  margin-left:16px;
  font-weight:800;
  font-size:0.8em;
}

.btn:hover{
  background:#2CC06B;
}

#login_btn{
  background:#2ecc71;
  width:125px;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #27ae60 1px solid;

  margin-top:20px;
  margin-bottom:20px;
  float:left;
  margin-left:16px;
  font-weight:800;
  font-size:0.8em;
  text-align: center;
}

#login_btn:hover{
  background:#2CC06B;
}


a {
  text-decoration: none;
  color: black;
  padding: 14px 16px;
}

.nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: right;
  font-weight: 700;
  font-family: 'Trebuchet MS';
  background-color: #dde2e3;
}
.nav a {
	color: gray;
	
}

#home_page {
  background-size:cover;
  margin: 0 auto 0 auto;
  width:100%;
  text-align:center;
  margin: 20px 0px 20px 0px;
}

.images {
	width:150px;
	height:150px;
	margin-left: 50px;
	float:left;
}
h4.caption {
  font-size:12px;
  text-decoration: none;
  color:gray;
}

textarea#styled {
	margin-left: 55px;	
}

form.searchBar input[type=text] {
  float: left;
  width: 40%;
}

form.searchBar button {
  float: left;
  width: 5%;
  background: #232D4B;
  color: white;
  cursor: pointer;
}

div.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  float: left;
}

/* Control the right side */
.right {
  right: 0;
  background-color: white;
  float: right;
}